In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

In [11]:
df = pd.read_csv('web_page_data (1).csv')

In [12]:
df.head()

     Page  Time
0  Page A  0.21
1  Page B  2.53
2  Page A  0.35
3  Page B  0.71
4  Page A  0.67

In [13]:
df.shape

(36, 2)

In [14]:
df.isna().sum()

Page    0
Time    0
dtype: int64

In [15]:
df["Page"].value_counts()

Page A    21
Page B    15
Name: Page, dtype: int64

In [16]:
df.describe()

            Time
count  36.000000
mean    1.411944
std     0.942407
min     0.210000
25%     0.702500
50%     1.180000
75%     1.992500
max     3.570000

In [17]:
group_a = df[df["Page"] == "Page A"]
group_b = df[df["Page"] == "Page B"]

In [28]:
mean_time_a = group_a["Time"].mean()
mean_time_b = group_b["Time"].mean()

print(f"Mean of Page A is {mean_time_a:.2f}")
print(f"Mean of Page B is {mean_time_b:.2f}")

Mean of Page A is 1.26
Mean of Page B is 1.62

In [29]:
t_stat, p_value = stats.ttest_ind(a=group_a["Time"], b=group_b["Time"])

print(f"T_stat is {t_stat:.2f}")
print(f"p_value is {p_value:.2f}")

T_stat is -1.12
p_value is 0.27

In [31]:
significance_level = 0.05
if p_value < significance_level:
    print("Reject the null hypothesis: There is a significant difference in mean time spend between Page A & Page B")
else:
    print("We fail to reject the null hypothesis: There is no significant diff in mean time spent between Page A & Page B")

We fail to reject the null hypothesis: There is no significant diff in mean time spent between Page A & Page B